@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Dela+Gothic+One&family=Lobster&family=New+Tegomin&display=swap');

/*text-align:center;*/

@font-face{
    font-family: CVFontw;
    src:url(../fonts/CVFontw.ttf);
    
}




p1 {
    font-family: 'Caveat', cursive;
    font-weight: 500;
    color:brown;
   
}

p2 {
    font-family: 'Caveat', cursive;
    font-weight: 700;
    color:darkgoldenrod;

}

.one{
    
font-family: 'Dela Gothic One', cursive;
    font-weight: 200;
    color:#0ecccc;
}

.two{
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
    color:blue;
}

#A{
   font-family: 'Lobster', cursive;
    font-weight: 300;
    color:#420433;
    
}

#B{
   font-family: 'New Tegomin', serif;
    font-weight: 600;
    color:#f88828;
    
}
h2 {
    font-family: CVFontw;
    font-size:35px;
    color:brown;
}